*{
    margin: 0;
    padding: 0;
}
.padre{
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
img{
    width: 500px;
    height: 300px;
}
.d1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.c1{
    text-align: center;
    color: black;
}
a{
    color: white;
}
